.App {
  padding: 0 50px;
  max-width: 100%;
}

.App-header {
  text-align: center;
  padding-bottom: 60px;
}

.Element {
  padding-bottom: 30px;
}

.Element-2 {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.Element-3 {
  width: 300px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  padding-bottom: 30px;
}
